include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
include optional-requirements.txt
include requirements_dev.txt

recursive-include fortran *
recursive-include pytempura/tests *
recursive-include pytempura/tests/data *
recursive-include scripts *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
include versioneer.py
include pytempura/_version.py
